.jumbotron{
  background-color: #410558;
}
.container{
  text-align: center;
}
.card{
  width: 14rem;
  border-radius: 10%;
  border-color: #FFCDDD;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}
.btn1 {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 9px 9px 6px #780278;
  -moz-box-shadow: 9px 9px 6px #780278;
  box-shadow: 9px 9px 6px #780278;
  font-family: Arial;
  color: #000000;
  font-size: 36px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn1:hover {
  background: #fc3c5c;
  text-decoration: none;
}